data/raw/comments.csv
data/raw/danmaku.csv
.idea/
src/analysis/test.*

# 忽略 Python 编译缓存
__pycache__/
*.pyc


# 忽略处理后的数据集文件夹 (通常很大，里面有很多 .arrow 文件)
*_tokenized_dataset/

# 忽略所有临时生成的 JSON 映射文件
*_loc2id.json

# 忽略跑demo生成的png
*.png

# 忽略训练好的模型文件
trained_models/


